/node_modules
/admin/node_modules
/public/hot
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/.git
/.github

# Temporarily ignore public/storage symlink
/public/storage

# Keep swap directory structure but ignore unnecessary files
!/storage/app/public/
!/storage/framework/
!/storage/logs/
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
!/storage/framework/cache/.gitignore
!/storage/framework/sessions/.gitignore
!/storage/framework/views/.gitignore
!/storage/logs/.gitignore 